
<div > 
<h2 class="title"> Sorts </h2> 
   <div id="spells-blocs">

    <!-- Sorts connus/préparés selon la classe -->
    <div id="spells-known">
        <div class="border-spells-known" >
            <p class="spells-known" *ngIf=" this.selectedClass == 'Druide' || this.selectedClass == 'Clerc' || 
            this.selectedClass == 'Magicien' || this.selectedClass == 'Paladin' ; else elseBlock">Sorts préparés</p>
              <ng-template #elseBlock><p class="spells-known" > Sorts connus</p></ng-template>
            <p class="value-text">{{updateSpellsInUI()}} </p>
            </div>
    </div>

    <!-- Tours de magie -->
    <div id="cantrips">
        <div class="border-cantrips" >
            <p class="cantrips">Tours de magie</p>
            <p class="value-text">{{cantripsKnown}} </p>
            </div>
    </div>

    <!-- Jet de sauvegarde contre les sorts/ki -->
    <div id="spellSavingMod">
        <div class="border-spellSavingMod" >
            <p class="spellSavingMod" *ngIf=" this.selectedClass == 'Moine' ; else spellMod">DD Sauv. contre le ki</p>
            <ng-template #spellMod><p class="spellSavingMod" > DD Jet de Sauv.</p></ng-template>
            <p class="value-text">+{{updateSpellSaveModInUI()}} </p>
        <p class="detailText"> 8 + Maîtrise + Incantation</p>

            </div>
    </div>

    <!-- Modificateur de sort -->
    <div id="spellAttackMod">
        <div class="border-spellAttackMod" >
            <p class="spellAttackMod">Modif. de sort</p>
            <p class="value-text">+{{updateSpellAttackModInUI()}} {{refresh()}} </p>
        <p class="detailText"> Maîtrise + Incantation</p>

            </div>
    </div>

    <!-- Tableau d'emplacements de sorts -->
    <div id="spells-slots"> 
        <div class="border-spells"> 
            <p class="spells">Emplacements de sorts </p>
            <table mat-table [dataSource]="dataSourceSpellSlots"
            class="mat-elevation-z8" class="no-spacing" cellspacing="0">
     
       <ng-container matColumnDef="position">
         <th mat-header-cell *matHeaderCellDef><span >Niveau</span></th>
         <td mat-cell *matCellDef="let element">  </td>
       </ng-container>
     
       <ng-container matColumnDef="slot1" class="slot">
         <th mat-header-cell *matHeaderCellDef >1</th>
         <td mat-cell *matCellDef="let element"> {{element.slot1}} </td>
       </ng-container>
     
       <ng-container matColumnDef="slot2" >
         <th mat-header-cell *matHeaderCellDef class="slot">2</th>
         <td mat-cell *matCellDef="let element"> {{element.slot2}} </td>
       </ng-container>
     
       <ng-container matColumnDef="slot3">
         <th mat-header-cell *matHeaderCellDef>3</th>
         <td mat-cell *matCellDef="let element"> {{element.slot3}} </td>
       </ng-container>
     
       <ng-container matColumnDef="slot4">
         <th mat-header-cell *matHeaderCellDef >4</th>
         <td mat-cell *matCellDef="let element"> {{element.slot4}} </td>
       </ng-container>
     
       <ng-container matColumnDef="slot5">
         <th mat-header-cell *matHeaderCellDef >5</th>
         <td mat-cell *matCellDef="let element"> {{element.slot5}} </td>
       </ng-container>
     
       <ng-container matColumnDef="slot6">
         <th mat-header-cell *matHeaderCellDef >6</th>
         <td mat-cell *matCellDef="let element"> {{element.slot6}} </td>
       </ng-container>
     
       <ng-container matColumnDef="slot7">
         <th mat-header-cell *matHeaderCellDef >7</th>
         <td mat-cell *matCellDef="let element"> {{element.slot7}} </td>
       </ng-container>
     
       <ng-container matColumnDef="slot8">
         <th mat-header-cell *matHeaderCellDef >8</th>
         <td mat-cell *matCellDef="let element"> {{element.slot8}} </td>
       </ng-container>
     
       <ng-container matColumnDef="slot9">
         <th mat-header-cell *matHeaderCellDef >9</th>
         <td mat-cell *matCellDef="let element"> {{element.slot9}} </td>
       </ng-container>
     
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>

    </div>


   </div>

</div>

</div>