<h1 mat-dialog-title>Simulateur de personnage D&D</h1>
<mat-dialog-content class="mat-typography">
  <h2>Voyageur, voyageuse ou bien Kobold égaré, bienvenue dans ce simulateur</h2>
  <p>Cette application sert, comme son nom l'indique, à simuler un personnage afin d'avoir une idée relativement précise (tout dépend de votre MJ)
     d'à quoi ressemble un perso avec une combinaison de Classe, Archétype, Race, Historique et Niveau donné.</p>

     <p> <span style="color:rgb(255, 0, 51); font-weight: 700;">Ce n'est pas prévu pour jouer</span>, juste pour s'amuser avec le créateur de personnage et éventuellement s'en servir comme base.
        Vous ne trouverez ici aucune description des effets ni points de règles, pour celà, référez-vous à vos manuels officiels.
     </p>

    <h2>Le point sur les fonctionnalités</h2>

  <p>- La première partie présente le personnage en lui-même, du portrait à ses aptitudes de Classe et de Race, en passant par ses maîtrises ou même son alignement. 
    Vous pouvez aussi réinitialiser cette partie, ou choisir au hasard (également disponible pour chaque catégorie via le 🎲, le 🔒 empêchant cette catégorie d'être choisie au hasard)
  </p>

  <p>- La seconde partie présente les stats du personnage. Attribuez les points de caractéristiques selon la répartition adaptée à votre partie, 
    cochez vos maîtrises obtenues plus haut et le reste est calculé automatiquement. </p>

    <p>- La troisième partie présente l'équipement et les sorts (les emplacements, jets de sauvegarde et nombre de sorts sont là aussi calculés par l'appli). </p>

  <h2>À venir</h2>

  <p>- Les équipements de départ</p>

  <p>- Le multi-classe !</p>

  <p>- Finir la traduction (et éventuellement mettre à jour vers la nouvelle traduction)</p>

  <p>- Les Dons, potentiellement</p>

  <p>- La sauvegarde de perso</p>

  <p>- Les armes et dégâts</p>

<h2> Fan Content Policy</h2>

<p> This page is unofficial Fan Content permitted under the Fan Content Policy. 
  Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast. 
  ©Wizards of the Coast LLC.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Ok !</button>
</mat-dialog-actions>
