
<!-- <a routerLink="/">Accueil</a><br />
<a routerLink="/joueur">Joueur</a><br />
<a routerLink="/classes">Classes</a><br />
<a routerLink="/races">Races</a><br />

<div>
  <router-outlet></router-outlet>

</div> -->



<div >
<div>
  <app-header></app-header>
</div>

<div>
  <app-joueur></app-joueur>

</div>
<div id="container">

  <app-caracteristics id="caracteristiques"></app-caracteristics>
    <app-other-values id="other-values"></app-other-values>
    <app-armor id="armor" ></app-armor>
<app-spells id="spells"></app-spells>
</div>    


</div>






<!-- <h1> Fiche Perso <button (click)="printThisPage()">Print This Page</button></h1>
<div class="charaSheet">
<div id="header">
    <app-joueur></app-joueur>
</div>
<div id="container">
  <app-caracteristics ></app-caracteristics>
</div>    

<div id="equipSpells">
  <app-spells id="sort" ></app-spells>
  <app-armor id="armure" ></app-armor>
</div>
</div> -->





<!-- <div id="header">
  <app-joueur></app-joueur>
</div>
<div id="container">
<app-caracteristics ></app-caracteristics>
</div>    

<h2 class="title"> Equipement</h2>

<div id="equipSpells">
<h2> Sorts </h2>
<app-spells id="sort" ></app-spells>
<h2> Armure </h2>    
<app-armor id="armure" ></app-armor>
</div> -->
       
    
     
    
