/* You can add global styles to this file, and also import other style files */
/* @import url('https://fr.allfont.net/allfont.css?fonts=lucida-console'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.cdnfonts.com/css/times-new-roman');
@import url('https://fonts.cdnfonts.com/css/lucida-console');

html, body, title, form, fieldset, table, tr, td, img {
  /* margin: 0; */
  /* padding: 0; */
  font:  "Times New Roman",helvetica,sans-serif;
}

body {
  /* background-color: #b8b5b5; */
  /* font-family: "Times New Roman"; */
margin-left: 0px;
  background: #D0E4F5 url("https://png.pngtree.com/thumb_back/fh260/background/20210501/pngtree-background-with-the-texture-of-burnt-old-parchment-image_699215.jpg") repeat scroll 0 0;
}



/* .img-button{
  background-color: #6d8ea0;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 100px;
  width: 100px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 50%;
  pointer-events:auto;
}

.portrait {
  object-fit: cover;
  width: 222px;
  height: 285px;
  max-height: 285px;
  pointer-events:auto;
  border-radius: 2%;
  
} */

.lockBtn {
  /* width:20px; */
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0px;
  /* width: 80%; */
  /* transform: scale(0.7); */
  /* position: relative; */
/* left:0px; */
/* top:0px; */
}

/* .material-icons {
  width:10px;
  height: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0px;
  width: 80%;
  transform: scale(1);
} */

.portrait {
  object-fit: cover;
  width: 222px;
  height: 285px;
  max-height: 285px;
  pointer-events:auto;
  border-radius: 2%;
}

#Layer1 {
  /* object-fit: cover; */
  /* width: 150px; */
  height: 350px;
  max-height: 300px;
  /* pointer-events:auto; */
  border-radius: 2%;

  /* src:"https://i.imgur.com/CMPG0oM.png"; */
  position:absolute;
   left:5px; 
   top:125px; 
   /* z-index:1; */
}

.img-button{
  background-color: #6d8ea0;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 100px;
  width: 100px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 50%;
  pointer-events:auto;
  position:absolute; left:70px; top:220px;
}

#playerInfos>#picture {
  grid-area: picture;
  display: block;
  width: auto;
  height: 300px;
  border-radius: 5px;
  margin: 5px;
  /* border: 5px dashed #708796; */
  display: flex;
  justify-content: center;
  align-items: center;
  background:  url("https://i.imgur.com/P93HdM6.png") no-repeat scroll 0 0;

  /* background:  url("https://i.imgur.com/QgvgOvY.png") no-repeat scroll 0 0; */
  pointer-events:none;  
}

/* img {
  position: absolute;
  top: 25px;
  left: 25px;
} */
.imgA1 {
  z-index: 1;
}
.imgB1 {
  z-index: 3;
}



.title {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #2C1D3A;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 0%;
  margin-bottom: 2%;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  height: 30px;
  /* width: 100%; */

}

#playerInfos>#description {
  height: auto;
  min-width: 230px;
  grid-area: description;
  border-radius: 5px;
  margin: 5px;
  background-color: #ffffff;
  border: 2px solid #1C6EA4;
  display: flex;
  justify-content: center;
  align-items: center;
}


#description-textarea {
  width: 230px;
  min-width: 230px;
  min-height: 50px;
  border: 2px solid #1C6EA4;
  border-radius: 5px;


  /* max-width: 130px; */
  /* height: 70%; */
/* margin-left: 5px; */
}

#playerInfos {
  display: grid;
  grid-auto-flow: dense;
  width: 100%;
  height: 100%;

  grid-template-areas:
  "SheetTitle SheetTitle SheetTitle SheetTitle"
  "playerButtons playerButtons playerButtons playerButtons"
    "picture       masteries  aptitudes aptitudes "
    "picture       masteries  aptitudes aptitudes "
    "nom           masteries  aptitudes aptitudes "
    "description   masteries  aptitudes aptitudes "
    "niveau        masteries  aptitudes aptitudes "
    "playerClass   masteries  aptitudes aptitudes "
    "archétype     masteries  aptitudes aptitudes "
    "race          alignement  aptitudes aptitudes "
    "historique    foi  aptitudes aptitudes ";

  grid-template-rows: auto;
  grid-template-columns: 250px 380px auto auto;
  text-align: center;
}



#container {
  display: grid;
  /* grid-auto-flow: dense; */
  width: auto;
  height: auto;
  grid-template-areas:
    "caracteristiques  caracteristiques  other-values   "
    "armor     spells      spells ";
  grid-template-rows: auto;
  grid-template-columns:   auto ;
}



#valeurs {
  grid-area: valeurs;
  display: grid;
  grid-auto-flow: dense;
  width: auto;
  height: auto;
/* background-color: #00c410; */
  grid-template-areas:
    "derivated-Values "
    "pv  "
    "armorClass ";
  grid-template-rows: auto;
  grid-template-columns: auto  ;
  /* text-align: center; */
}

#caracteristics {
  grid-area: caracteristics;
  display: grid;
  border-radius: 47px;
  width: 100%;
/* background-color: #00c410; */
  height: auto;
  grid-template-columns: 460px auto  ;
  grid-template-rows: auto;
  grid-template-areas:
    "caracteristicsBlocs skills   "
    "repartition         skills   ";
}


@media (max-width:1150px) {
  #playerInfos {
    display: grid;
    grid-auto-flow: dense;
    width: 100%;
    height: 100%;

    grid-template-areas:
    "SheetTitle SheetTitle SheetTitle"
  "playerButtons playerButtons playerButtons"
      "picture     masteries masteries"
      "nom         masteries masteries"
      "description masteries masteries"
      "niveau      masteries masteries"
      "playerClass archétype historique "
      "race  alignement foi"
      "aptitudes   aptitudes aptitudes";


    grid-template-rows:  auto auto auto auto auto auto auto auto 450px;
    grid-template-columns: 250px auto;
    text-align: center;
  }

  #valeurs {
    grid-area: valeurs;
    display: grid;
    grid-auto-flow: dense;
    width: auto;
    height: auto;
  /* background-color: #00c410; */
    grid-template-areas:
      "derivated-Values derivated-Values "
      "pv armorClass ";
    grid-template-rows: auto;
    grid-template-columns: auto  ;
    /* text-align: center; */
  }

 

  #container {
    display: grid;
    grid-auto-flow: dense;
    width: auto;
    height: auto;
    /* background-color: #00c410; */
  
    grid-template-areas:
    "caracteristiques caracteristiques"

    "other-values other-values  "
    "armor spells "
    ;
    grid-template-rows: auto;
    grid-template-columns: auto  ;
    /* text-align: center; */
  }


  #caracteristics {
    grid-area: caracteristics;
    display: grid;
    border-radius: 47px;
    width: 100%;
    height: auto;
    grid-template-columns: 460px 1fr  ;
    grid-template-rows: auto;
    grid-template-areas:
      "caracteristicsBlocs skills   "
      "repartition         skills   ";
  }


}




/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

.input-form {
  width: 55%;
  background: rgb(226, 224, 224);
  margin: 0 5px;
}

button {
  margin-left: 5px;
}

#playerButtons {
  grid-area: playerButtons;
  align-items: start;
  display: flex;
  /* align-items: start; */
  /* justify-content: start; */

}





#playerInfos>#SheetTitle {
  
  grid-area: SheetTitle;
  border-radius: 5px;
  height: 80px;
  min-height: 40px;
  max-height: auto;
  margin: 5px;
  /* background-color: white; */
  /* border: 2px solid #1C6EA4; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#playerInfos>#nom {
  
  grid-area: nom;
  border-radius: 5px;
  min-height: 40px;
  max-height: auto;
  margin: 5px;
  background-color: white;
  border: 2px solid #1C6EA4;
  display: flex;
  justify-content: center;
  align-items: center;
}








#playerInfos>#foi {
  /* height: 30px; */
  height: auto;
  grid-area: foi;
  border-radius: 5px;
  margin: 5px;
  background-color: white;
  border: 2px solid #1C6EA4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playerInfos>.playerClass {
  grid-area: playerClass;
  border-radius: 5px;

  margin: 5px;
  background-color: rgb(37, 156, 224);
  border: 2px solid #1C6EA4;
}

#playerInfos>.race {
  grid-area: race;
  /* min-height: 80px; */
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(92, 196, 115);
  border: 2px solid #1C6EA4;
}


#playerInfos>.alignement {
  grid-area: alignement;
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #1C6EA4;
}

#playerInfos>.historique {
  grid-area: historique;
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(214, 158, 53);
  border: 2px solid #1C6EA4;
}

#playerInfos>.archétype {  
    grid-area: archétype;
  /* min-height: 80px; */

    border-radius: 5px;
    margin: 5px;
    background-color:rgb(226, 96, 87);
    border: 2px solid #1C6EA4;
  }

#playerInfos>#niveau {
  grid-area: niveau;
  border-radius: 5px;
  min-height: 30px;
  height: auto;
  margin: 5px;
  background-color: white;
  border: 2px solid #1C6EA4;
  display: flex;
  justify-content: center;
  align-items: center;
}


#playerInfos>#masteries {
  grid-area: masteries;
  min-width: 350px;
  /* min-height: 550px; */
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #1C6EA4;
}

.masteries-text {
  text-align: left;
padding-left: 5px;
/* margin-right: 5px; */
padding-right: 5px;
/* text-align: right; */
justify-content: space-evenly;
line-height: 1em;
}

.bold {
  font-weight: 700;
}

#playerInfos>#aptitudes {
  grid-area: aptitudes;
  min-width: 250px;
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #1C6EA4;
}

.oddFeature {
  background-color: #ebebeb;
}

.featureTitle {
  background-color: #b6b6b6;
}

.sourceText {
  color: #363636;
  font-size: 10px;
  font-weight: 700;
}

.detailText {
  color: #363636;
  font-size: 10px;
  font-weight: 700;
margin-top: -5px;
margin-right: 5px;
text-align: right;
}


#playerInfos>#aptitudes>#features {
  display: grid;
  /* width: 450px; */
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  /* background-color: #00ADED; */
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "featureList  "
  "raceFeatures  "
  /* "featureList featureList2"
  "raceFeatures raceFeatures" */
  ;
}



#playerInfos>#aptitudes>#features>#featureList {
  grid-area: featureList;
  white-space: pre-line;
  /* text-align: left; */
}

#playerInfos>#aptitudes>#features>#featureList2 {
  grid-area: featureList2;
  white-space: pre-line;
/* background-color: #00ADED; */
  /* text-align: right; */
}

#playerInfos>#aptitudes>#features>#raceFeatures {
  grid-area: raceFeatures;
  /* font-weight: 700; */
}

hr.pen-alt {
  border-top-color: #006699;
  margin: 6px 0;
}



/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

#other-values{
  grid-area: other-values;
}

#caracteristiques{
  grid-area: caracteristiques;
}


#valeurs>#derivated-Values>#derivated-Values-Blocs {
  display: grid;
  /* margin-top: 0%; */
  grid-template-columns: auto auto  ;

}



#valeurs>#derivated-Values {
  grid-area: derivated-Values;
  display: grid;
  /* align-items: center; */
  /* min-width: 320px; */
  min-width: 380px;
  width: auto;
  height: auto;
  /* grid-auto-flow: dense; */
  background-color: #ffffff;
  border-radius: 10px;
  margin: 5px;
}

#armorClass {
  grid-area: armorClass;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  min-width: 260px;
  /* width: 200px; */
}

.border-armorClass {
  min-width: 140px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 3px solid #306ff7;
}

.armorClass {
  background-color: #306ff7;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 30px;
}

#pv {
  grid-area: pv;
  /* min-width: 300px; */
  min-width: 300px;
  border-radius: 10px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
}

.border-PV {
  min-width: 110px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 3px solid #00c410;
}

.PV {
  background-color: #00c410;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 30px;
}

#pv>#PV-Grid {
  display: grid;
  grid-template-columns: auto auto ;
  margin: 15px;
}


.value-text {
  font-weight: 700;
  text-align: center;
  margin: 0%;
  font-size: 30px;
}

.border-derivatedValue-proficiency {
  min-width: 140px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 3px solid #c05125;
}

.border-derivatedValue-initiative {
  min-width: 140px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 3px solid #fa7000;
}

.border-derivatedValue-speed {
  min-width: 140px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 3px solid #9c3e12;
}

.border-derivatedValue-flyingSpeed {
  min-width: 140px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 3px solid#5d81c5;
}

.border-derivatedValue-swimmingSpeed {
  min-width: 140px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 3px solid #0d50ce;
}

.border-derivatedValue-passivePerception {
  min-width: 140px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 3px solid #b42bf3;
}

.border-derivatedValue-savingThrow {
  min-width: 140px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 3px solid #8700c5;
}

.proficiency {
  background-color: #c05125;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 30px;
}

.initiative {
  background-color: #fa7000;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 30px;
}

.speed {
  background-color: #9c3e12;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 30px;
}

.flyingSpeed {
  background-color: #5d81c5;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 30px;
}

.swimmingSpeed {
  background-color: #0d50ce;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 30px;
}

.passivePerception {
  background-color: #b42bf3;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 0%;
  margin-bottom: 0%;
}

.savingThrow {
  background-color: #8700c5;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 30px;
}


#armor {
  grid-area: armor;
  background-color: #ffffff;
  min-width: 300px;
  width: auto;
  min-height: 110px;
  /* width: 100%; */
  /* height: 130px; */
  border-radius: 10px;
  margin: 5px;
}

.equip {
  margin-left: 5px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */



#spells {
  /* display: grid; */
  grid-area: spells;
  background-color: #ffffff;
  min-width: 380px;
width: auto;
/* height: 300px; */
  border-radius: 10px;
  margin: 5px;
  /* grid-template-areas:
  "spells-known cantrips"
    "spells-slots spells-slots "; */
}

#spells-blocs {
  display: grid;
  /* background-color: #e42424; */
  min-width: 250px;
  border-radius: 10px;
  /* margin: 5px; */
  grid-template-areas:
  "spells-slots spells-known   spells-known   cantrips cantrips"
  "spells-slots spellSavingMod spellSavingMod spellAttackMod spellAttackMod";
}

#spells-known {
  grid-area: spells-known;
}

#cantrips {
  grid-area: cantrips;
}

#spellSavingMod {
  grid-area: spellSavingMod;
}

#spellAttackMod {
  grid-area: spellAttackMod;
}



#spells-slots {
  grid-area: spells-slots;
}

.spells-known {
  /* grid-area: spells-known; */
  background-color: #113ea0;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 30px;
}

.border-spells-known {
  min-width: 110px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 3px solid #113ea0;
}

.cantrips {
  /* grid-area: cantrips; */
  background-color: #113ea0;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 30px;
}

.border-cantrips {
  min-width: 110px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 3px solid #113ea0;
}

.spellAttackMod {
  /* grid-area: cantrips; */
  background-color: #a7279c;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 30px;
}

.border-spellAttackMod {
  min-width: 110px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 3px solid #a7279c;
}

.spellSavingMod {
  /* grid-area: cantrips; */
  background-color: #a7279c;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 30px;
}

.border-spellSavingMod {
  min-width: 110px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 3px solid #a7279c;
}

.spells {
  /* grid-area: spells; */
  background-color: #8700c5;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 30px;
}

.border-spells {
  width: 240px;
  height: 150px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 3px solid #8700c5;
}

.spells-levels-text {
  justify-content: space-evenly;
  line-height: 0.9em;
  font-weight: 700;
  width: auto;
  letter-spacing: 3px;
  white-space:pre-line;
  border-radius: 10px;
  margin: 5px;
}

.spells-levels {
margin-top: 5px;
margin-left: 5px;
}

.spells-slots-text {
  justify-content: space-evenly;
  line-height: 0.9em;
  font-weight: 700;
  padding-left: 70px;
  white-space:pre-line;
  border-radius: 10px;
  margin: 5px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */



#caracteristics>#caracteristicsBlocs {
  grid-area: caracteristicsBlocs;
  width: auto;
  min-width: 380px;
  min-height: 570px;
  border-radius: 10px;
  margin: 5px;
  background-color: rgb(255, 255, 255);



}

.caracs-value-text {
  font-weight: 700;
  text-align: center;
  margin: 0%;
  font-size: 30px;
}

.stats-value-text {
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  margin: 0%;
  font-size: 40px;
  height: 40px;
  line-height: 40px;
  margin-top: 50%;
  margin-bottom: -10px;
  background-color: #bec7be;
}

.title-Statbloc {
  font-weight: 700;
  margin-top: 25%;
  width: 100%;
  text-align: center;
}

.border-Force {
  border-radius: 5px;
  padding-top: 20px;
  padding-right: 25px;
  width: 100px;
  height: 75px;
}








/* ------------------------------------------------------------------------------------------------ */


#caracteristics>#caracteristicsBlocs>#statsBlocs>#forceBloc {
  grid-area: ForceBloc;
  display: grid;
  width: 200px;
  height: 150px;
  margin-bottom: 25px;
  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    ".   ForMod"
    "For ForMod "
    "For ForSave"
    ".   ForSave ";
}


#caracteristics>#caracteristicsBlocs>#statsBlocs>#dexBloc {
  grid-area: DexBloc;
  display: grid;
  width: 200px;
  height: 150px;
  margin-bottom: 25px;

  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:

    ".   DexMod"
    "Dex DexMod "
    "Dex DexSave"
    ".   DexSave ";
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#conBloc {
  grid-area: ConBloc;
  display: grid;
  width: 200px;
  height: 150px;
  margin-bottom: 25px;
  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:

    ".   ConMod"
    "Con ConMod "
    "Con ConSave"
    ".   ConSave ";
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#intBloc {
  grid-area: IntBloc;
  display: grid;
  width: 200px;
  height: 150px;
  margin-bottom: 25px;
  margin-left: 10px;
  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:

    ".   IntMod"
    "Int IntMod "
    "Int IntSave"
    ".   IntSave ";
}


#caracteristics>#caracteristicsBlocs>#statsBlocs>#wisBloc {
  grid-area: WisBloc;
  display: grid;
  width: 200px;
  height: 150px;
  margin-bottom: 25px;
  margin-left: 10px;

  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:

    ".   WisMod"
    "Wis WisMod "
    "Wis WisSave"
    ".   WisSave ";
}


#caracteristics>#caracteristicsBlocs>#statsBlocs>#chaBloc {
  grid-area: ChaBloc;
  display: grid;
  width: 200px;
  height: 150px;
  margin-bottom: 25px;
  margin-left: 10px;

  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:

    ".   ChaMod"
    "Cha ChaMod "
    "Cha ChaSave"
    ".   ChaSave ";
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#forceBloc>#For {
  grid-area: For;
  border-radius: 5px;
  width: 130px;
  height: 90px;
  margin-right: -70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cf0a3b;
  border-radius: 5px;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#dexBloc>#Dex {
  grid-area: Dex;
  border-radius: 5px;
  width: 130px;
  height: 90px;
  margin-right: -70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #F48E01;
  border-radius: 5px;
}


#caracteristics>#caracteristicsBlocs>#statsBlocs>#conBloc>#Con {
  grid-area: Con;
  border-radius: 5px;
  width: 130px;
  height: 90px;
  margin-right: -70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #2EB576;
  border-radius: 5px;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#intBloc>#Int {
  grid-area: Int;
  border-radius: 5px;
  width: 130px;
  height: 90px;
  margin-right: -70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #00ADED;
  border-radius: 5px;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#wisBloc>#Wis {
  grid-area: Wis;
  border-radius: 5px;
  width: 130px;
  height: 90px;
  margin-right: -70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #902E8C;
  border-radius: 5px;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#chaBloc>#Cha {
  grid-area: Cha;
  border-radius: 5px;
  width: 130px;
  height: 90px;
  margin-right: -70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #EF7EB0;
  border-radius: 5px;
}


#caracteristics>#caracteristicsBlocs>#statsBlocs>#forceBloc>#ForMod {
  grid-area: ForMod;
  border-radius: 5px;
  width: 100px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #bd1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#dexBloc>#DexMod {
  grid-area: DexMod;
  border-radius: 5px;
  width: 100px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #F48E01;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#conBloc>#ConMod {
  grid-area: ConMod;
  border-radius: 5px;
  width: 100px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #2EB576;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#intBloc>#IntMod {
  grid-area: IntMod;
  border-radius: 5px;
  width: 100px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #00ADED;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#wisBloc>#WisMod {
  grid-area: WisMod;
  border-radius: 5px;
  width: 100px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #902E8C;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#chaBloc>#ChaMod {
  grid-area: ChaMod;
  border-radius: 5px;
  width: 100px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #EF7EB0;
  display: flex;
  justify-content: center;
  align-items: center;
}



#caracteristics>#caracteristicsBlocs>#statsBlocs>#forceBloc>#ForSave {
  grid-area: ForSave;
  border-radius: 5px;
  width: 90px;
  height: 70px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border: 2px solid #cf0a3b;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#dexBloc>#DexSave {
  grid-area: DexSave;
  border-radius: 5px;
  width: 90px;
  height: 70px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border: 2px solid #F48E01;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#conBloc>#ConSave {
  grid-area: ConSave;
  border-radius: 5px;
  width: 90px;
  height: 70px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border: 2px solid #2EB576;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#intBloc>#IntSave {
  grid-area: IntSave;
  border-radius: 5px;
  width: 90px;
  height: 70px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border: 2px solid #00ADED;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#wisBloc>#WisSave {
  grid-area: WisSave;
  border-radius: 5px;
  width: 90px;
  height: 70px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border: 2px solid #902E8C;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#chaBloc>#ChaSave {
  grid-area: ChaSave;
  border-radius: 5px;
  width: 90px;
  height: 70px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border: 2px solid #EF7EB0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sauvegarde-text {
  position: relative;
  top: -5px;
  color: rgb(0, 0, 0);
  text-align: center;
  vertical-align: text-top;
  line-height: 30px;
  border-radius: 0px;
  font-size: 15px;
  font-weight: 700;

  margin-top: 0%;
  margin-bottom: 0%;
  border-radius: 5px;
  height: 20px;
}

.border-sauvegarde {
  min-width: 90px;
  position: relative;
  height: 75px;
  border-radius: 10px;
  margin: 5px;
  margin-left: 15px;
}

.modificateur-text {
  position: relative;
  top: -5px;
  color: rgb(0, 0, 0);
  text-align: center;
  vertical-align: text-top;
  line-height: 30px;
  border-radius: 0px;
  font-size: 15px;
  font-weight: 700;

  margin-top: 0%;
  margin-bottom: 0%;
  height: 20px;
}

.border-modificateur {
  min-width: 100px;
  position: relative;
  height: 75px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs {
  display: grid;
  /* width: 450px; */
  height: 150px;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
  /* background-color: #00ADED; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:

    "ForceBloc IntBloc"
    "DexBloc WisBloc"
    "ConBloc ChaBloc";
}

.statblocsValue {
  margin-right: 15px;
  margin-left: 0px;
  }










#caracteristics>#skills {
  justify-content: space-evenly;
  line-height: 2.2em;
  width: auto;
  height: auto;
  min-width: 235px;
  grid-area: skills;
  border-radius: 10px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
}

#caracteristics>#repartition {
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  min-width: 380px;
height: auto;
min-height: 90px;
  /* min-width: 450px; */
  grid-area: repartition;
  background-color: white;
}

.stat {
  border: 2px solid #1C6EA4;
  border-radius: 5px;
  background-color: #EEE;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  margin-left: auto;
  margin-right: 10px;
}

/* ------------------------------------------------------------------------------------------------ */


.randomizerButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0%;
}

.randomizerNameButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0%;
  position:absolute;
  left:2px; 
   top:440px; 
   z-index: 1;
}

.right {
  float: right;
}


.for {
  color: #C12A32;
}

.dex {
  color: #F48E01;
}

.con {
  color: #2EB576;
}

.int {
  color: #00ADED;
}

.sag {
  color: #902E8C;
}

.cha {
  color: #EF7EB0;
}


@media (max-width:850px) {
  #playerInfos {
    display: grid;
    grid-auto-flow: dense;
    width: auto;
    height: auto;
    grid-template-areas:
      "SheetTitle SheetTitle"
      "playerButtons playerButtons  "
        "picture     race "
        "picture     playerClass "
        "picture     archétype "
        "nom         historique "
        "description alignement "
        "niveau foi  "
        "masteries  masteries "
        "aptitudes   aptitudes ";

    grid-template-rows:  auto auto auto auto auto auto auto auto auto  650px;
    grid-template-columns:  250px auto;
    text-align: center;
  }
/* 
  body{
    zoom: 90%;
  } */

  #spells-blocs {
    display: grid;
    /* background-color: #e42424; */
    /* min-width: 250px; */
    border-radius: 10px;
    /* margin: 5px; */
    grid-template-areas:
    "spells-slots       spells-known   spells-known   "
      "spells-slots     cantrips       cantrips        "
      "spellAttackMod   spellSavingMod spellSavingMod";
      grid-template-rows: auto;
      grid-template-columns: auto  ;
  }

  #valeurs {
    grid-area: valeurs;
    display: grid;
    grid-auto-flow: dense;
    width: auto;
    height: auto;
    grid-template-areas:
      "derivated-Values"
      "pv  "
      "armorClass ";
    grid-template-rows: auto;
    grid-template-columns: auto  ;
  }

  #container {
    display: grid;
    grid-auto-flow: dense;
    width: auto;
    height: auto;
  
    grid-template-areas:
    "caracteristiques "
    "other-values  "
    "armor"
    "spells"
    ;
    grid-template-rows: auto;
    grid-template-columns: auto  ;
    /* text-align: center; */
  }

  #caracteristics {
    grid-area: caracteristics;
    display: grid;
    border-radius: 47px;
    width: auto;
    height: auto;
    margin: 0px;

    grid-template-columns:  auto  ;
    grid-template-rows: auto;
    grid-template-areas:
      "caracteristicsBlocs"
      "skills"
      "repartition";
  }

  


  #playerInfos>#description {
    height: auto;
    min-width: auto;
    width: auto;
    grid-area: description;
    border-radius: 5px;
    margin: 5px;
    background-color: #ffffff;
    border: 2px solid #1C6EA4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #description-textarea {
    width: 40%;
    max-width: 40%;
    height: 70%;
  margin-left: 5px;
  }

 


  .border-spellAttackMod {
    width: 240px;
    height: 70px;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
    border: 3px solid #a7279c;
  }

}

@media (max-width:400px) {

  #playerInfos {
    display: grid;
    grid-auto-flow: dense;
    width: auto;
    height: auto;
    grid-template-areas:
      /* "SheetTitle SheetTitle"
      "playerButtons playerButtons  "
        "picture     nom "
        "picture     description "
        "picture     niveau "
        "picture     race "
        "picture         historique "
        "playerClass  alignement"
        "archétype foi  "
        "masteries  masteries "
        "aptitudes   aptitudes "; */

        "SheetTitle SheetTitle"
        "playerButtons playerButtons  "
          "picture     race "
          "picture     playerClass "
          "picture     archétype "
          "nom         historique "
          "description alignement "
          "niveau foi  "
          "masteries  masteries "
          "aptitudes   aptitudes ";

    grid-template-rows:  auto auto auto auto auto auto auto auto auto  700px;
    grid-template-columns:  198px auto;
    text-align: center;
  }
  
#caracteristics>#caracteristicsBlocs>#statsBlocs>#forceBloc {
  grid-area: ForceBloc;
  display: grid;
  width: 170px;
  height: 150px;
  margin-bottom: 25px;
  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    ".   ForMod"
    "For ForMod "
    "For ForSave"
    ".   ForSave ";
}


#caracteristics>#caracteristicsBlocs>#statsBlocs>#dexBloc {
  grid-area: DexBloc;
  display: grid;
  width: 170px;
  height: 150px;
  margin-bottom: 25px;

  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:

    ".   DexMod"
    "Dex DexMod "
    "Dex DexSave"
    ".   DexSave ";
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#conBloc {
  grid-area: ConBloc;
  display: grid;
  width: 170px;
  height: 150px;
  margin-bottom: 25px;
  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:

    ".   ConMod"
    "Con ConMod "
    "Con ConSave"
    ".   ConSave ";
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#intBloc {
  grid-area: IntBloc;
  display: grid;
  width: 170px;
  height: 150px;
  margin-bottom: 25px;
  margin-left: 0px;
  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:

    ".   IntMod"
    "Int IntMod "
    "Int IntSave"
    ".   IntSave ";
}


#caracteristics>#caracteristicsBlocs>#statsBlocs>#wisBloc {
  grid-area: WisBloc;
  display: grid;
  width: 170px;
  height: 150px;
  margin-bottom: 25px;
  margin-left: 0px;

  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:

    ".   WisMod"
    "Wis WisMod "
    "Wis WisSave"
    ".   WisSave ";
}


#caracteristics>#caracteristicsBlocs>#statsBlocs>#chaBloc {
  grid-area: ChaBloc;
  display: grid;
  width: 170px;
  height: 150px;
  margin-bottom: 25px;
  margin-left: 0px;

  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:

    ".   ChaMod"
    "Cha ChaMod "
    "Cha ChaSave"
    ".   ChaSave ";
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#forceBloc>#For {
  grid-area: For;
  border-radius: 5px;
  width: 130px;
  height: 90px;
  margin-right: -70px;
  background-color: white;
  display: flex;
  
  /* margin-left: 40px; */
  justify-content:left;
  /* align-items: center; */
  border: 2px solid #cf0a3b;
  border-radius: 5px;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#dexBloc>#Dex {
  grid-area: Dex;
  border-radius: 5px;
  width: 130px;
  height: 90px;
  margin-right: -70px;
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 2px solid #F48E01;
  border-radius: 5px;
}


#caracteristics>#caracteristicsBlocs>#statsBlocs>#conBloc>#Con {
  grid-area: Con;
  border-radius: 5px;
  width: 130px;
  height: 90px;
  margin-right: -70px;
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 2px solid #2EB576;
  border-radius: 5px;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#intBloc>#Int {
  grid-area: Int;
  border-radius: 5px;
  width: 130px;
  height: 90px;
  margin-right: -70px;
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 2px solid #00ADED;
  border-radius: 5px;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#wisBloc>#Wis {
  grid-area: Wis;
  border-radius: 5px;
  width: 130px;
  height: 90px;
  margin-right: -70px;
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 2px solid #902E8C;
  border-radius: 5px;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#chaBloc>#Cha {
  grid-area: Cha;
  border-radius: 5px;
  width: 130px;
  height: 90px;
  margin-right: -70px;
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 2px solid #EF7EB0;
  border-radius: 5px;
}


#caracteristics>#caracteristicsBlocs>#statsBlocs>#forceBloc>#ForMod {
  grid-area: ForMod;
  border-radius: 5px;
  width: 100px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #bd1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#dexBloc>#DexMod {
  grid-area: DexMod;
  border-radius: 5px;
  width: 100px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #F48E01;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#conBloc>#ConMod {
  grid-area: ConMod;
  border-radius: 5px;
  width: 100px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #2EB576;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#intBloc>#IntMod {
  grid-area: IntMod;
  border-radius: 5px;
  width: 100px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #00ADED;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#wisBloc>#WisMod {
  grid-area: WisMod;
  border-radius: 5px;
  width: 100px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #902E8C;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#chaBloc>#ChaMod {
  grid-area: ChaMod;
  border-radius: 5px;
  width: 100px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #EF7EB0;
  display: flex;
  justify-content: center;
  align-items: center;
}



#caracteristics>#caracteristicsBlocs>#statsBlocs>#forceBloc>#ForSave {
  grid-area: ForSave;
  border-radius: 5px;
  width: 90px;
  height: 70px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border: 2px solid #cf0a3b;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#dexBloc>#DexSave {
  grid-area: DexSave;
  border-radius: 5px;
  width: 90px;
  height: 70px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border: 2px solid #F48E01;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#conBloc>#ConSave {
  grid-area: ConSave;
  border-radius: 5px;
  width: 90px;
  height: 70px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border: 2px solid #2EB576;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#intBloc>#IntSave {
  grid-area: IntSave;
  border-radius: 5px;
  width: 90px;
  height: 70px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border: 2px solid #00ADED;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#wisBloc>#WisSave {
  grid-area: WisSave;
  border-radius: 5px;
  width: 90px;
  height: 70px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border: 2px solid #902E8C;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs>#chaBloc>#ChaSave {
  grid-area: ChaSave;
  border-radius: 5px;
  width: 90px;
  height: 70px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border: 2px solid #EF7EB0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sauvegarde-text {
  position: relative;
  top: -5px;
  color: rgb(0, 0, 0);
  text-align: center;
  vertical-align: text-top;
  line-height: 30px;
  border-radius: 0px;
  font-size: 15px;
  font-weight: 700;

  margin-top: 0%;
  margin-bottom: 0%;
  border-radius: 5px;
  height: 20px;
}

.border-sauvegarde {
  min-width: 90px;
  position: relative;
  height: 75px;
  border-radius: 10px;
  margin: 5px;
  margin-left: 15px;
}

.modificateur-text {
  position: relative;
  top: -5px;
  color: rgb(0, 0, 0);
  text-align: center;
  vertical-align: text-top;
  line-height: 30px;
  border-radius: 0px;
  font-size: 15px;
  font-weight: 700;

  margin-top: 0%;
  margin-bottom: 0%;
  height: 20px;
}

.border-modificateur {
  min-width: 100px;
  position: relative;
  height: 75px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
}

#caracteristics>#caracteristicsBlocs>#statsBlocs {
  display: grid;
  height: 150px;
  margin-left: 10px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:

    "ForceBloc IntBloc"
    "DexBloc WisBloc"
    "ConBloc ChaBloc";
}


.statblocsValue {
margin-left: 5px;
margin-right: 0px;
}


#playerInfos>#picture {
  grid-area: picture;
  display: block;
  width: auto;
  height: 300px;
  border-radius: 5px;
  margin: 5px;
  /* border: 5px dashed #708796; */
  display: flex;
  justify-content: center;
  align-items: center;
  background:  url("https://i.imgur.com/QgvgOvY.png") no-repeat scroll 0 0;
  pointer-events:none;  
}

.portrait {
  object-fit: cover;
  width: 173px;
  height: 290px;
  /* max-height: 285px; */
  pointer-events:auto;
  border-radius: 2%;
}

#Layer1 {
  /* object-fit: cover; */
  /* width: 150px; */
  height: 30px;
  max-height: auto;
  /* pointer-events:auto; */
  border-radius: 2%;
  position:absolute;
   left:5px; 
   top:125px; 
   z-index:1
}

.img-button{
  background-color: #6d8ea0;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 100px;
  width: 100px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 50%;
  pointer-events:auto;
  position:absolute; left:45px; top:220px;
}
}






.mat-table {
  border: none !important;
  width: 5px;
  height: 10px !important;

}

.mat-mdc-table thead {
  padding: 0px;
  width: 250px !important;

}

.mat-mdc-table {
  table-layout: auto;
  white-space: normal;
  /* height: 70px; */
  /* background-color: #ffffff; */
  /* border-radius: 150px !important; */
}

td.mat-mdc-cell{
   border: none;
   padding: 0px;
  width: 5px !important;
  height: 5px !important;

 }

 .mat-mdc-row, mdc-data-table__row {
  height: 2px !important;
    height: 0px !important;
  /* padding: 0px !important; */
  padding-right: 3px !important;
  /* background-color: #006699 !important; */

}

th.mat-mdc-header-cell{ 
  border: none;
  width: 5px;
  height: 5px !important;
  text-justify: auto !important;
  padding-left: 2px !important;
  /* margin-left: 2px; */

}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0px !important;
  width: 5px !important;
}

.mdc-data-table__header-row {
  padding-top: 5px !important;
  height: 10px !important;
  padding-left: 5px !important;

}


.mdc-data-table__table {
  min-height: 5% !important;
  height: 30px !important;
  /* min-height: 30px !important; */
  /* min-width: 5% !important; */

}

.mat-column-position {
  width: 0px !important;
  text-align: center !important;
/* background-color: #00c410 !important; */
/* height: 200px !important; */
}

table.no-spacing {
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  line-height: 0px !important;
}




.mat-form-field-label {
  /* font-size: 0.8em!important; */
  font: "Times New Roman",helvetica,sans-serif !important;
}


